
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId


.task-form-container
    form( method="post").task-form.form-horizontal.well.span6
        h1
        p#sub1.subheading What has to be done?
        hr
        fieldset
            #task-name-cg.control-group
                label.control-label(for='name-tf') Task Name
                .controls
                    input#task-name-tf(type='text', name='name', value= "")
            #task-description-cg.control-group
                label.control-label(for='task-tf') Description
                .controls
                    input#task-tf(type='text', name='description', value= "")
            #userList-cg.control-group
                label.control-label(for='accts') Person
                .controls
                    select#country-list(name='person')
                        each item in accts
                            option(selected=item.name == person)= item.name

            //div.container(style='margin:20px')
            //    table.table.table-bordered.table-striped
            //        thead
            //            tr
            //                th(style='width:40px') #
            //                th(style='width:180px') Name
            //                th(style='width:200px') Location
            //                th(style='width:180px') Username
            //                th Account Created
            //        tbody
            //        - for (var i = 0; i < accts.length; i++)
            //        tr
            //            td= i + 1
            //            td= accts
                        //td= accts[i].country
                        //td= accts[i].user
                        //td= accts[i].date
            hr



            .form-buttons
                button(type='button')#account-form-btn2.btn
                button(type='submit')#account-form-btn1.btn

//include modals/form-errors
