extends layout
block content
   div.navbar.navbar-fixed-top
      div.navbar-inner
         div.container-fluid
            ul#global-nav.nav.pull-left
               a(href='/tasks').brand Create Task
            ul#global-nav.nav.pull-left
               a(href='/project').brand New Project
            ul#global-nav.nav.pull-left
               a(href='/home').brand Control Panel
            button#btn-logout.btn.btn-primary
               i.icon-lock.icon-white
               | Sign Out

      div#chartdiv

block scripts
   script(src='/vendor/jquery.min.js')
   script(src='https://www.amcharts.com/lib/3/amcharts.js')
   script(src='https://www.amcharts.com/lib/3/serial.js')
   script(src='https://www.amcharts.com/lib/3/themes/chalk.js')
   script(src='https://www.amcharts.com/lib/3/gantt.js')
   script(src='https://code.jquery.com/jquery-1.11.2.min.js')
   script(type='text/javascript').
      var local_data =!{JSON.stringify(tsks)};
   script(src='/js/views/gantt.js')


   //
   //script(src='/vendor/jquery.min.js')
   //script(src='/vendor/jquery.form.js')
   //script(src='/vendor/bootstrap-modal.js')
   //script(src='/vendor/bootstrap-transition.js')
   //script(src='/js/views/home.js')
   //script(src='/js/controllers/homeController.js')
   //script(src='/js/form-validators/accountValidator.js')